.main {
    width: 1500px;
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    background: white;
    border: #9f9c99 solid 3px;
}

.block1 {
    width: 55%;
    border: #1b1b1b dashed 1px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.block2 {
    width: 41%;
}

.columns {
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: #b5b5b5;
}

.item-name {
    margin: 5px;
}

.knopka{
    width: 110px;
    height: 40px;
    color: #444141;
    background: #96cecb;
    margin-left: 20px;
}

img {
    width: 50px;
    height: 46px;
}

.title1 th {
    color: #5f6368;
}

table {
    width: 600px;
    text-align: left;
    padding: 11px;
    font-size: 16px;
}

th {
    width: 20%;
    padding: 11px;
}
th.can-sort{
    position: relative;
}
tr:first-child {
    width: 30%;
    border-bottom: #1b1b1b solid 5px;
}

th.can-sort.sorted::after{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    content: "";
    position: absolute;
    right: 0;
    bottom: 20px;
}
