.main {
    width: 40%;
    margin: auto;
    margin-top: 200px;
    background: white;
    border: #96cecb solid 3px;
    border-radius: 10px;
}

body {
    position: static;
    width: 100%;
}

.menu {
    width: 193px;
    position: absolute;
    right: 129px;
    top: 193px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border: #96cecb solid 3px;
    border-radius: 10px;
}

/*a.rollover {*/
/*    background: url(images/sun1.png); !* Путь к файлу с исходным рисунком  *!*/
/*    display: block; !*  Рисунок как блочный элемент *!*/
/*    width: 196px; !* Ширина рисунка *!*/
/*    height: 183px; !*  Высота рисунка *!*/
/*}*/
.rollover:hover:after {
    display: block;
    content: '';
    background-image: url(../img/trash-can-with-cover.svg);
    background-size: 25px 25px;
    height: 30px;
    width: 30px;
    /* background: transparent url(../images/small_triangle.png) no-repeat; */
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    /* position: absolute; */
    top: 0px;
    left: 1px;
    position: relative;
}
.rollover::after {
    display: block;
    content: '';
    background-image: url(../img/open-trash-can.svg);
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    position: relative;
    top: -5px;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu .list-Menu:first-child, .menu .list-Menu:last-child{
    background: #96cecb;
}

.list-Menu{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    color: #303134;
    padding: 10px;
}

.add-form {
    width: 450px;
    border: #1b1b1b dashed 1px;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    flex-direction: column;
    left: calc(50% - 225px);
    z-index: 100;
    background: beige;
}

.columns {
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: #b5b5b5;
}

.item-name {
    margin: 5px;
}

.knopka {
    width: 78px;
    height: 40px;
    color: #444141;
    background: #96cecb;
    margin-left: 20px;
}

img {
    width: 22px;
    height: 22px;
}

.title1 th {
    color: #5f6368;
}

table {
    width: 600px;
    text-align: left;
    padding: 11px;
    font-size: 16px;
}

th {
    width: 20%;
    padding: 11px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

th.can-sort {
    position: relative;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

tr:first-child {
    width: 30%;
    border-bottom: #1b1b1b solid 5px;
}

th.can-sort.sorted::after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    content: "";
    position: absolute;
    right: 0;
    bottom: 20px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.bip-bop {
    position: absolute;
    background-color: grey;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}