.main{
    width: 600px;
    margin: auto;
    margin-top: 200px;
}
.flex-block{
    display: flex;
    flex-direction: row;
    margin-left: 14px;
}
.menu-color{
    background: white;
    width: 244px;
    height: 186px;
    border-radius: 10px;
    border-top: #cecece solid 1px;
    border-left: #cecece solid 1px;
    border-bottom: #cecece solid 2px;
    border-right: #cecece solid 2px;
    /*box-shadow: 2px 2px 2px #cecece;*/
}
.block-title{
    width: 218px;
    height: 26px;
    background: #b280d5;
    color: white;
    border-radius: 7px;
    margin: 6px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 7px;
}
.item{
    width: 30px;
    height: 30px;
    margin: 5px;
    box-shadow: 2px 2px 2px #666a6b;
}
.color1{
    background: #e4e4d0;
}
.color2{
    background: #ffffff;
}
.color3{
    background: #aaced9;
}
.color4{
    background: #f1f223;
}
.color5{
    background: #1d8319;
}
.color6{
    background: #a64343;
}
.color7{
    background: #ec1918;
}
.color8{
    background: #e99c13;
}
.color9{
    background: #ecb7c0;
}
.color10{
    background: #848484;
}
.color11{
    background: #3d20ef;
}
.color12{
    background: #de84dd;
}
.color13{
    background: #1b1b1b;
}

