.body{
    background:#2e8b8a;
}
.main{
    margin: auto;
    width: 600px;
    height: 400px;
    border: black solid 5px;
    margin-top: 100px;
    padding: 40px;
    text-align: center;
}
.block{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.column{
    /*background:#2e8b8a;*/
    width:220px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.block2{
    background: #f30e02;
    height: 50px;
    flex-grow: 1;
    margin-bottom: 32px;
    border: black solid 3px;
}
.block3{
    background: #4200ff;
    height: 50px;
    flex-grow: 3;
    border: black solid 3px;
}
.block4{
    background: #1c8000;
    width: 300px;
    flex-grow: 3;
    margin-bottom: 32px;
    border: black solid 3px;
}
.block5{
    background: #f9ff03;
    width: 300px;
    flex-grow: 1;
    border: black solid 3px;
}