.container{
    width: 300px;
    border: 2px solid #345d4f;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.border{
    border-bottom: 1px dotted #272a2b;
    margin: 5px;
}
.block1{
    height: 30px;
    margin: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Trebuchet MS, sans-serif;
}
.block2{
    height: 100px;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}
img{
    width: 131px;
    height: 100px;
}
.block3{
    width: 140px;
    height: 100px;
    margin: auto;
}