.main{
    width: 900px;
    margin-left:5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.container{
    width: 632px;
    height: 135px;
    border: #dcb0ca solid 2px;
    background: white;
}
.block{
    width: 218px;
    height: 35px;
    background: #eb1651;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
    font-family: sans-serif;
}
a{
    color: #2d6a91;
    margin-right: 10px;
}
.block2{
    margin: 20px;
    font-family: sans-serif;
}

