.body{
    background: white;
}
.main{
    margin: auto;
    width: 800px;
    margin-top: 100px;

}
.flex{
    /*background:#2e8b8a;*/
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    text-align: center;
    font-size: 36px;
    background: #43484a;
    padding: 10px;
}
.block2{
    background: #272a2b;
    width: 200px;
    height: 200px;
    flex-grow: 1;
    order: 1;
    color: #666a6b;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
