.main{
    width: 800px;
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
.container1{
    width: 800px;
    height: 65px;
    display: flex;
    flex-direction: row;
}
.container2{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 21px;
    border-top: #666a6b dotted 2px;
    border-bottom: #666a6b dotted 2px;
    padding: 5px;
}
.container3{
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.block1{
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.block2{
    width: 60%;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.textStyle1{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, sans-serif;
    color: #740400;
}
.textStyle2{
    font-size: 13px;
    color: #7c7b7d;
    padding-top: 6px;
    font-weight: 600;
}
.textStyle3{
    font-size: 20px;
    font-family: cursive;
    color: #4a4489;
}
.textStyle4{
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, sans-serif;
    color: #740400;
    padding-top: 6px;
}
.textStyle5{
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, sans-serif;
    color: #4a4489;
}
a{
    margin-left: 4px;
    margin-right: 15px;
}
.textStyle6{
    font-size: 14px;
    font-weight: bold;
    color: #7c7b7d;
    padding-top: 10px;
    margin-right: 31px;
}