body{
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/grid_noise.png");
}
.main{
    width: 700px;
    height: 155px;
    margin: auto;
    margin-top: 300px;
    display: flex;
    flex-direction: row;
}
.container{
    width: 666px;
    height: 43px;
    background: #444444;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 21px;
    padding-right: 54px;
    position: relative;
}
.items{
    color: white;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
}
.items:hover{
    color: #ffffff;
    background-color: #FF800B;
    font-size: 20px;
    height: calc(100% + 9px);
    z-index: 100;
}
.container:after{
    content: '';
    display: block;
    width: 700px;
    height: 7px;
    position: absolute;
    background-color: #FF800B;
    left: 0px;
    bottom: -10px;
}
.style1{
    background: #f30e02;
}
.style2{
    background: #a802ff;
}
.style3{
    background: #4aa6f3;
}
.style4{
    background: #41d05f;
}
.style5{
    color: #ffffff;
    background-color: #FF800B;
    font-size: 20px;
    height: calc(100% + 9px);
    z-index: 100;
}