.container{
    width: 300px;
    height: 123px;
    border: 2px solid #ededed;
    margin: auto;
    margin-top: 200px;
    /*display: flex;*/
    /*flex-direction: row;*/
}
.flex-container{
    display: flex;
    flex-direction: row;
    font-family: Arial, serif;
}
.add-form{
    width: 250px;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
    color: #ac0e08;
    font-weight: 500;
    font-family: Arial, serif;
}
.block2{
    margin-left: 20px;
    color: #080000;
    line-height: 25px;
}
.block3{
    margin: auto;
    margin-left: 100px;
    color: #080000;
    font-weight: 600;
    line-height: 25px;
}