.container{
    width: 721px;
    margin: auto;
    margin-top: 200px;
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
}
.add-form{
    width: 276px;
    background: #4576ba;
    font-size: 31px;
    color: #ffffff;
    margin-top: 30px;
    padding: 4px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}
.block2{
    background: #d80b00;
    width: 310px;
    margin-top: 52px;
    padding: 4px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    margin-left: 79px;
}
.container1{
    margin-left: 26px;
    margin-top: 10px;
    margin-right: -30px;
}
.container2{
    padding-bottom: 28px;
}
.container3{
    display: flex;
    flex-direction: row;
}
.for-block1{
    width: 242px;
    height: 8px;
    background: #4576ba;
    margin-top: 50px;
    margin-right: 10px;
}
.for-block2{
    width: 129px;
    height: 8px;
    margin-top: 70px;
    background: #d80b00;
}
img{
    width: 65%;
    height: 94%;
}
a{
    text-decoration:none;
    color: white;
}