.main{
    width: 900px;
    height: 200px;
    margin-left:5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.container{
    width: 550px;
    border-left: #dcdcdb 15px solid;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 7px 0 7px -2px #cccccc;
}
.add-form{
    width: 550px;
    height: 40px;
    padding-top: 10px;
    font-weight: 800;
    color: #4988b1;
    margin-right: 20px;
}
.block2{
    background: #edfbfe;
    color: #635f69;
    font-weight: 800;
    border-top: #cccbcc 3px solid;
    border-bottom: #d3d6d8 1px solid;
    height: 20px;
    padding: 10px;
}
.bar{
    background: #f5f5f5;
}
.flex{
    display: flex;
    flex-direction: row;
}
.column{
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 67px;
    color: #4f5b64;
    font-size: 14px;
    line-height: 34px;
}
.menu-item{
    width: 150px;
    padding-top: 14px;
    padding-bottom: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
    background: linear-gradient(#4fd0f0, #204c79);
    margin-right: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.menu-item:hover{
    background: #f30e02;
}
a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: white;
}