.main{
    width: 870px;
    height: 200px;
    margin: auto;
    margin-top: 300px;
    display: flex;
    flex-direction: row;
}
table{
    border-collapse: collapse;
    text-align: center;
}
.table-calendar{
    width: 300px;
    height: 181px;
    font-family: sans-serif;
}
td{
    border: #98cdff solid 2px;
}
caption{
    background: #98cdff;
    height: 30px;
    font-weight: 800;
    padding-top: 10px;
}
