.main{
    width: 900px;
    /* height: 71px; */
    margin: auto;
    margin-top: 200px;
    background: #575757;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 5px;
    padding-right: 5px;
}
.container{
    width: 98%;
    height: 46px;
    margin: 5px;
    background: #575757;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border: #656565 solid 2px;
}
.element{
    flex-grow: 7;
    margin-left: 15px;
}
.passive{
    flex-grow: 7;
    margin-left: 15px;
}
.element:nth-child(4),
.passive:nth-child(6) {
    border-right: #656565 solid 1px;
}
.element:nth-child(7) {
    margin-right: 44px;
}
.element-container{
    position: relative;
    flex-grow: 2;
}
label{
    color: #b3b2b0;
    padding: 0px;
}
.visually-hidden{
    background: white;
    width: 254px;
    border-radius: 10px;
    height: 30px;
    align-items: center;
    padding-left: 22px;
    font-size: 14px;
    position: relative;
}
.icon{
    background: transparent url(http://icongal.com/gallery/download/7439/160/png);
    background-size: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 227px;
    top: 7px;
}
.element a {
    color: white;
    font-weight: 800;
}
.passive a {
    color: #858583;
    font-weight: 800;
}
.element a:hover{
    color: #666a6b;
}