.main{
    width: 900px;
    /* height: 71px; */
    margin: auto;
    margin-top: 200px;
    background: #575757;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 5px;
    padding-right: 5px;
}
.menu-item{
    width: 98%;
    height: 46px;
    margin: 5px;
    background: #575757;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border: #656565 solid 2px;
}
.element{
    position: relative;
    flex-grow: 2;
    margin-left: 15px;
}
/*.passive{*/
/*    flex-grow: 1;*/
/*    margin-left: 15px;*/
/*}*/
/*.element:nth-child(4),*/
/*.passive:nth-child(6) {*/
/*    border-right: #656565 solid 1px;*/
/*}*/
.element:last-child {
    margin-right: 44px;
}
.element.search{
    margin-left: 0;
    display: flex;
    position: relative;
    flex-grow: 7;
}
.element.right-border {
    /*border-right: #656565 solid 1px;*/
}
.element.right-border::after{
    content: "";
    background: #656565;
    width: 2px;
    height: 30px;
    right: 0;
    top: -5px;
    position: absolute;
}
label{
    color: #b3b2b0;
}
.visually-hidden{
    background: white;
    border-radius: 10px;
    height: 30px;
    align-items: center;
    padding-left: 22px;
    font-size: 14px;
    position: relative;
    flex-grow: 2;
}
.icon{
    background: transparent url(http://icongal.com/gallery/download/7439/160/png);
    background-size: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 227px;
    top: 7px;
}
.element a {
    color: white;
    font-weight: 800;
}
.passive a {
    color: #858583;
    font-weight: 800;
    pointer-events: none;
}
.element a:hover{
    color: #666a6b;
}